extends layout

block content
  main 
    h1 Dashboard
   
    if (currentUser)
      h2 Welcome #{currentUser.first_name}
  

    .messages
      each message in messages
        .message 
          h2= message.title 
          if (currentUser && currentUser.membership_status)
            .message-info
              p #{message.author.full_name} • 
              p @#{message.author.username} • 
              p= message.formatted_date
          else 
            h3 Unknown author 
            p Unknown date
          p= message.text
       
          if (currentUser && currentUser.isAdmin)
            form(action="/delete-message" method="POST")
              input(type='text' hidden='true' value=message._id name="messageId")
              button#delete-btn(type="submit") Delete 
          
