extends layout

block content
  h1= title
  p Welcome to #{title}
  if (currentUser)
    h2 Welcome #{currentUser.first_name}
  a(href="/sign-up") Sign up
  a(href="/log-in") Log in
  if (currentUser)
    div
      a(href="/log-out") Log Out
      a(href="/join-the-club") Join The Club
    div 
      a(href="/create-message") Create Message

  div 
    each message in messages
      .message 
        if (currentUser && currentUser.membership_status)
          p= message.author.full_name
          p= message.author.username
          p= message.formatted_date
        else 
          p Unknown author and date
        if (currentUser && currentUser.isAdmin)
          form(action="/delete-message" method="POST")
            input(type='text' hidden='true' value=message._id name="messageId")
            button(type="submit") Delete 
        p= message.title 
        p= message.text
